caption{
    text-align: center;
}
table, th, td {
    margin: auto;
}
.mensaje{
    color: red;
}
.verficacion-red{
    border: 2px solid red;
} 
.verficacion-black{
    border: 1px solid #000;
}
body{
    background-color: #FFFF99
}
span{
    font-family: Tahoma;
    font-size: large;
    font-weight: 100;
    text-transform: capitalize;
    color: #0000FF;
}
div{
    width: 100%;
    text-align: center;
}
table{
    background-color: #CC99FF;
}
select{
    font-family: Perpetua, serif;
    font-size: x-large;
    color: #FF0066;
    background-color: #6699FF;
}
hr{
    border-width: medium;
    border-color: #990099;
    border-style: solid;
}
.titulo{
    color: #008080;
    text-decoration: blink;
}
.boton{
    font-family: 'adobe-gothic-std-b';
    font-size: large;
    color: #009900;
    background-color: #66FFCC;
    border-color: #CCCCFF;
}
.texto{
    font-family: "Times New Roman";
    color: #6600CC;
    background-color: #CCCCFF;
}
input[type=radio]{
    width: 48px;
}
img{
    border-radius: 5px;
}
